<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="#{forgot.title}">
        Forgot Password - News Group Management
    </title>
    <link rel="stylesheet" th:href="@{/css/auth/forgot-password.css}" />
</head>
<body>
<div class="forgot-password-container">
    <div class="forgot-password-email-block" th:if="${activeForgot=='email'}">
        <div class="forgot-password-header">
            <h1 th:text="#{app.name}">News Group Management</h1>
        </div>
        <form class="email-form" th:action="@{/auth/forgot-password/email/send}" method="POST" onsubmit="return emailValidate()">
            <input
                    type="text"
                    id="email"
                    name="email"
                    th:value="${email}"
                    placeholder="Email Address"
                    th:placeholder="#{email.placeholder}"
            />
            <p id="email-invalid" class="error-message" th:text="${errors?.hasFieldErrors('email')} ? ${errors.getFieldError('email').defaultMessage} : '' "></p>
            <p id="email-not-found" class="error-message" th:text="${forgotPasswordError}"></p>
            <button
                    type="submit"
                    class="submit-button"
                    th:text="#{button.send.otp}"
            >
                Send OTP
            </button>
        </form>
        <p style="color: #28a745;" th:text="${passwordResetSuccess}"></p>
    </div>
    <div class="forgot-password-otp-block" th:if="${activeForgot=='otp'}">
        <form class="otp-form" th:action="@{/auth/forgot-password/otp/verify}" method="POST" onsubmit="return otpValidate()">
            <input
                    type="text"
                    id="otp"
                    name="otp"
                    th:value="${otp}"
                    maxlength="6"
                    inputmode="numeric"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                    placeholder="______"
            />
            <p id="otp-invalid" class="error-message" th:text="${errors?.hasFieldErrors('otp')} ? ${errors.getFieldError('otp').defaultMessage} : '' "></p>
             <p id="otp-incorrect" class="error-message" th:text="${forgotPasswordError}"></p>
            <button
                    type="submit"
                    class="verify-otp-button"
                    th:text="#{button.verify.otp}"
            >
                Verify OTP
            </button>
        </form>
    </div>
    <div
            class="forgot-password-otp-block"
            th:if="${activeForgot=='resetPassword'}"
    >
        <div class="form-divider" th:text="#{divider.reset.password}">
            Reset Password
        </div>
        <form class="reset-password-form" th:action="@{/auth/forgot-password/reset}" method="POST" onsubmit="return passwordValidate()">
            <input
                    type="password"
                    id="new-password"
                    name="password"
                    th:value="${password}"
                    placeholder="New Password"
                    th:placeholder="#{password.new.placeholder}"
            />
            <p id="password-invalid" class="error-message"  th:text="${errors?.hasFieldErrors('password')} ? ${errors.getFieldError('password').defaultMessage} : '' "></p>
            <input
                    type="password"
                    id="confirm-password"
                    name="confirmPassword"
                    th:value="${confirmPassword}"
                    placeholder="Confirm Password"
                    th:placeholder="#{password.confirm.placeholder}"
            />
            <p id="password-mismatch" class="error-message" th:text="${errors?.hasFieldErrors('confirmPassword')} ? ${errors.getFieldError('confirmPassword').defaultMessage} : '' "></p>
            <button
                    type="submit"
                    class="reset-password-button"
                    th:text="#{button.reset.password}"
            >
                Reset Password
            </button>
        </form>
    </div>
    <div class="divider" th:text="#{or}">Or</div>
    <div class="back-link">
        <p>
          <span th:text="#{remember.password}">Remember your password?</span
          >&nbsp;<a th:href="@{/auth/sign-in}" th:text="#{sign.in}">Sign In</a>
        </p>
    </div>
</div>
<script th:inline="javascript">
    const forgotPasswordErrorMessages = {
        emailRequired: /*[[#{error.required.email}]]*/ "Email is required.",
        emailInvalid: /*[[#{error.invalid.email}]]*/ "Email is not valid.",
        otpRequired: /*[[#{error.required.otp}]]*/ "OTP is required.",
        otpInvalid:
        /*[[#{error.invalid.otp}]]*/ "OTP must be exactly 6 digits.",
        passwordRequired:
        /*[[#{error.required.password}]]*/ "Password is required.",
        passwordInvalid:
        /*[[#{error.invalid.password}]]*/ "Include letters, numbers, and symbols 8-16.",
        passwordMismatch:
        /*[[#{error.password.mismatch}]]*/ "Passwords do not match.",
    };
</script>
<script th:src="@{/js/auth/forgot-password.js}"></script>
</body>
</html>