<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer">
    <div class="footer-container">
        <div class="footer-row-1">
            <div class="footer-col-1">
                <div class="footer-header">
                    <h4 th:text="#{footer.world}">World</h4>
                </div>
                <div class="footer-content">
                    <ul>
                        <li><a href="#" th:text="#{footer.india}">India</a></li>
                        <li><a href="#" th:text="#{footer.america}">America</a></li>
                        <li><a href="#" th:text="#{footer.russia}">Russia</a></li>
                        <li><a href="#" th:text="#{footer.australia}">Australia</a></li>
                        <li><a href="#" th:text="#{footer.japan}">Japan</a></li>
                        <li><a href="#" th:text="#{footer.china}">China</a></li>
                        <li><a href="#" th:text="#{footer.europe}">Europe</a></li>
                        <li><a href="#" th:text="#{footer.middle.east}">Middle East</a></li>
                        <li><a href="#" th:text="#{footer.uk}">United Kingdom</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-col-1">
                <div class="footer-header">
                    <h4 th:text="#{footer.business}">Business</h4>
                </div>
                <div class="footer-content">
                    <ul>
                        <li><a href="#" th:text="#{footer.media}">Tech</a></li>
                        <li><a href="#" th:text="#{footer.calculators}">Media</a></li>
                        <li><a href="#" th:text="#{footer.videos}">Calculators</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-col-1">
                <div class="footer-header">
                    <h4 th:text="#{footer.sports}">Sports</h4>
                </div>
                <div class="footer-content">
                    <ul>
                        <li><a href="#" th:text="#{footer.football}">Football</a></li>
                        <li><a href="#" th:text="#{footer.hockey}">Hockey</a></li>
                        <li><a href="#" th:text="#{footer.cricket}">Cricket</a></li>
                        <li><a href="#" th:text="#{footer.tennis}">Tennis</a></li>
                        <li><a href="#" th:text="#{footer.golf}">Golf</a></li>
                        <li><a href="#" th:text="#{footer.motorsport}">Motorsport</a></li>
                        <li><a href="#" th:text="#{footer.olympics}">Olympics</a></li>
                        <li><a href="#" th:text="#{footer.esports}">Esports</a></li>
                        <li><a href="#" th:text="#{footer.climbing}">climbing</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-col-1">
                <div class="footer-header">
                    <h4 th:text="#{footer.health}">Health</h4>
                </div>
                <div class="footer-content">
                    <ul>
                        <li><a href="#" th:text="#{footer.fitness}">Fitness</a></li>
                        <li><a href="#" th:text="#{footer.food}">Food</a></li>
                        <li><a href="#" th:text="#{footer.sleep}">Sleep</a></li>
                        <li><a href="#" th:text="#{footer.mindfulness}">Mindfulness</a></li>
                        <li><a href="#" th:text="#{footer.relationships}">Relationships</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-col-1">
                <div class="footer-header">
                    <h4 th:text="#{footer.tech}">Tech</h4>
                </div>
                <div class="footer-content">
                    <ul>
                        <li><a href="#" th:text="#{footer.innovate}">Innovate</a></li>
                        <li><a href="#" th:text="#{footer.future}">Foreseeable Future</a></li>
                        <li><a href="#" th:text="#{footer.mission}">Mission: Ahead</a></li>
                        <li><a href="#" th:text="#{footer.work}">Work Transformed</a></li>
                        <li><a href="#" th:text="#{footer.cities}">Innovative Cities</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-col-1">
                <div class="footer-header">
                    <h4 th:text="#{footer.science}">Science</h4>
                </div>
                <div class="footer-content">
                    <ul>
                        <li><a href="#" th:text="#{footer.space}">Space</a></li>
                        <li><a href="#" th:text="#{footer.life}">Life</a></li>
                        <li><a href="#" th:text="#{footer.unearthed}">Unearthed</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-col-1">
                <div class="footer-header">
                    <h4 th:text="#{footer.travel}">Travel</h4>
                </div>
                <div class="footer-content">
                    <ul>
                        <li><a href="#" th:text="#{footer.destinations}">Destinations</a></li>
                        <li><a href="#" th:text="#{footer.food.drink}">Food & Drink</a></li>
                        <li><a href="#" th:text="#{footer.stay}">Stay</a></li>
                        <li><a href="#" th:text="#{footer.news}">News</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-col-1">
                <div class="footer-header">
                    <h4 th:text="#{footer.opinion}">Opinion</h4>
                </div>
                <div class="footer-content">
                    <ul>
                        <li><a href="#" th:text="#{footer.political}">Political Op-Eds</a></li>
                        <li><a href="#" th:text="#{footer.social}">Social Commentary</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr color="#404040" />
        <div class="footer-row-2">
            <div class="footer-col-2-left">
                <h2 th:text="#{app.name}">News Group Management</h2>
            </div>
        </div>
        <hr color="#404040" />
        <div class="footer-row-3">
            <div class="footer-col-3">
                <ul>
                    <li><a href="#" th:text="#{footer.terms}">Terms of Use</a></li>
                    <li><a href="#" th:text="#{footer.privacy}">Privacy Policy</a></li>
                    <li><a href="#" th:text="#{footer.about}">About</a></li>
                </ul>
            </div>
            <div class="footer-col-4">
                <p th:text="#{footer.copyright}">Copyright © 2024 News Group Management. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>